# Ignore all log files
*.log

# Ignore Library folder
GameDemo/Library

# Ignore Log folder
GameDemo/Logs

# Ignore Temp folder
GameDemo/Temp

# Ignore NGUI folder
GameDemo/NGUI

# Ignore IgnoreDir folder
IgnoreDir 
