# Ignore all log files
*.log

# Ignore Library folder
GameDemo/Library

# Ignore Log folder
GameDemo/Logs

# Ignore Temp folder
GameDemo/Temp

# Ignore IgnoreDir folder
IgnoreDir 
GameDemo/.vs/GameDemo/FileContentIndex/119d9546-1cc9-46f7-9858-64a271f5e028.vsidx
GameDemo/Assets/NGUI.meta
